body{
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.logo{
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;
}

a{
    color: rebeccapurple;
    font-weight: 700;
    text-decoration: none;
}

h1{
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

h2{
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

h3{
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


.header {
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.logo {
    margin-right: 50px;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}
.aside {
    background-color: lavender;
    padding: 10px 20px;
}

section{
    background-color: lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 20px;
}

footer{
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}
